@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  color: #ff7f00;
  font-weight: 300;
  font-size: 2.4rem;
  letter-spacing: 1px;
}

.description {
  text-align: center;
  color: #666;
  margin-bottom: 3rem;
  font-size: 1.6rem;
}
